<div class="page">
    <div class="page-title">
        <h2>Overview</h2></div>
    <div class="overview-brief">
        <p>The Cessna 208 Caravan is a single-engined turboprop, fixed-tricycle landing gear, short-haul regional airliner and utility aircraft that is built in the United States by Cessna. The airplane typically seats nine passengers with a single pilot. The 208B Grand Caravan is a 4 feet (1.2 m) stretch of the Caravan I. The 208B features a more powerful PT6A-114A engine. Cessna offers the 208B in many configurations. The basic 208 airframe can be outfitted with various types of landing gear, allowing it to operate in a wide variety of environments. Some common adaptations include skis, enlarged tires for unprepared runways and floats on the Caravan Amphibian model.</p>
    </div>
    <div class="overview-image">
        <img src="views/C208B/C208B.jpg" alt="">
    </div>
</div>
