<div class="page">
    <div class="page-title">
        <h2>Overview</h2></div>
    <div class="overview-brief">
        <p>The Embraer EMB 110 Bandeirante is a general purpose 15-21 passenger twin-turboprop light transport aircraft suitable for military and civil duties. It was manufactured by the Brazilian corporation, Embraer.’ ‘Bandeirante or English for pioneer was the name given to the Portuguese settlers and pioneers who expanded the limits of the Portuguese Empire, language and culture in Brazil by progressively moving in and then settling from the early coastal settlements towards the inner, then unknown and uncharted zones of the vast continent. Actually, yes, it becomes even weird, The EMB 110 was designed by the French engineer Max Holste. The goal was to create a general purpose aircraft, suitable for both civilian and military roles with a low operational cost and high reliability. On this measure, the EMB 110 has succeeded.’</p>
    </div>
    <div class="overview-image">
        <img src="views/EMB110/EMB110_overview.jpg" alt="">
    </div>
</div>
