<div>
    <div class="page-title">
        <h2>Airport > Instrument Landing System (ILS)</h2>
    </div>
    <div>
        <h3>Introduction</h3>
        <p>The ILS is designed to provide an approach path for exact alignment and descent of an aircraft on final approach to a runway. The ground equipment consists of two highly directional transmitting systems and, along the approach, three (or fewer) marker beacons. The directional transmitters are known as the localizer and glide slope transmitters</p>
    </div>
    <h4>Localizer</h4>
    <p>The localizer provides course guidance throughout the descent path to the runway threshold from a distance of 18 NM from the antenna between an altitude of 1,000 feet above the highest terrain along the courseline and 4,500 feet above the elevation of the antenna site.</p>
    <div>
        <h3>ILS Coverage</h3>
        <div>
            <img ng-src="img/ILS-Coverage.png" alt="">
            <p>Proper off-course indications are provided throughout the following angular areas of the operational service volume:</p>
            <ul>
                <li>(a) To 10 degrees either side of the course along a radius of 18 NM from the antenna; and</li>
                <li>(b) From 10 to 35 degrees either side of the course along a radius of 10 NM.</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Glide Slope / Glide Path</h3>
        <div>
            <img ng-src="img/" alt="">
            <p>The glide slope transmitter is located between 750 feet and 1,250 feet from the approach end of the runway (down the runway) and offset 250 to 650 feet from the runway centerline. It transmits a glide path be am 1.4 degrees wide (vertically). The signal provides descent information for navigation down to the lowest authorized decision height (DH) specified in the approved ILS approach procedure.</p>
            <p>The glide path projection angle is normally adjusted to 3 degrees above horizontal so that it intersects the MM at about 200 feet and the OM at about 1,400 feet above the runway elevation. The glide slope is normally usable to the distance of 10 NM.</p>
        </div>
    </div>
    <h4>Minimums</h4>
    <div>
        <h3>CAT I</h3>
        <div>
            <ul>
                <li>Decision height between 100 and 200 ft.</li>
                <li>Visibility not less than 800 meters, or;</li>
                <li>RVR (Runway Visibility Range) not less than 550 meters</li>
                <li>Relies only on altimeter indications for decision height</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>CAT II</h3>
        <div>
            <ul>
                <li>Decision height between 100 and 200 ft.</li>
                <li>Visibility not less than 300 meters for aircrft category A, B, C and not less than 350 meters for aircraft category D.</li>
                <li>Relies on radar altimeter indications for decision height</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>CAT III</h3>
        <div>
            <h5>Category IIIa</h5>
            <ul>
                <li>Decision height lower than 100 ft.</li>
                <li>RVR (Runway Visibility Range) not less than 200 meters</li>
            </ul>
        </div>

        <div>
            <h5>Category IIIb</h5>
            <ul>
                <li>Decision height lower than 50 ft.</li>
                <li>RVR (Runway Visibility Range) not less than 200 meters but not less than 75</li>
                <li>Autopilot is used until taxi-speed</li>
            </ul>
        </div>

        <div>
            <h5>Category IIIc</h5>
            <p>The CAT III approach is performed by an automatic landing system that is far better 
							at maintaining the needed precise flight path than a human pilot.  It is most important 
							that the autopilot receive accurate information and that it functions correctly.</p>
        </div>
    </div>
</div>
