<div class="page-title">
    <h2>Airport > Lighting</h2>
</div>
<div class="page">
    <div>
        <img ng-src="img/AirportDiagramNight.png">
    </div>
    <div>
        <div class="section-header">
            <h3>A. Runway Lighting - Approach</h3></div>
        <div class="indent">
            <h4>A-1. Approach Light System</h4>
            <img ng-src="img/Runway-start-lighting.png" alt="">
            <p>An approach lighting system, or ALS, is a lighting system installed on the approach end of an airport runway and consisting of a series of lightbars, strobe lights, or a combination of the two that extends outward from the runway end. ALS usually serves a runway that has an instrument approach procedure (IAP) associated with it and allows the pilot to visually identify the runway environment and align the aircraft with the runway upon arriving at a prescribed point on an approach.</p>
            <horiz-rule margintop="2" marginbottom="2"></horiz-rule>
            <h4>A-2. Precision Approach Path Indicator</h4>
            <img ng-src="img/PAPI.png" alt="">
            <p>The Precision Approach Path Indicator (PAPI) is a visual aid that provides guidance information to help a pilot acquire and maintain the correct approach (in the vertical plane) to an aerodrome or an airport. It is generally located beside the runway approximately 300 meters beyond the landing threshold of the runway.</p>
            <p>The greater number of red lights visible compared with the number of white light visible in the picture means that the aircraft is flying below the glideslope. To use the guidance information provided by the aid to follow the correct glideslope a pilot would manoeuvre the aircraft to obtain an even number of red and white lights.</p>
        </div>
    </div>
    <div>
        <div class="section-header">
            <h3>B. In-Runway Lighting</h3></div>
        <div class="indent">
            <h4>B-1. Runway Edge Light Systems</h4>
            <img ng-src="img/RCLSEdgeEnd.jpg" alt="">
            <p>The runway edge lights are white, except on instrument runways yellow replaces white on the last 2,000 feet or half the runway length, whichever is less, to form a caution zone for landings.The lights marking the ends of the runway emit red light toward the runway to indicate the end of runway to a departing aircraft and emit green outward from the runway end to indicate the threshold to landing aircraft.</p>
            
            <h4>B-2. Runway Centerline Lighting System (RCLS)</h4>
            <p>When viewed from the landing threshold, the runway centerline lights are white until the last 3,000 feet of the runway. The white lights begin to alternate with red for the next 2,000 feet, and for the last 1,000 feet of the runway, all centerline lights are red.</p>
        </div>
    </div>
    <div>
        <div class="section-header">
            <h3>C. Runway End Lighting</h3></div>
        <div class="indent">
            <h4>C-1. Runway End Identifier Lights (REIL)</h4>
            <img ng-src="img/reil.jpg" alt="">
            <p>REILs are installed at many airfields to provide rapid and positive identification of the approach end of a particular runway. The system consists of a pair of synchronized flashing lights located laterally on each side of the runway threshold.</p>
            <horiz-rule margintop="2" marginbottom="2"></horiz-rule>
            <h4>C-2. Land and Hold Short Lights</h4>
            <img ng-src="img/LAHS-Lights.jpg" alt="">
            <p>Land and hold short lights are used to indicate the hold short point on certain runways which are approved for Land and Hold Short Operations (LAHSO). Land and hold short lights consist of a row of pulsing white lights installed across the runway at the hold short point.</p>
            <horiz-rule margintop="2" marginbottom="2"></horiz-rule>
            <h4>C-3. Runway Status Light (RWSL) System</h4>
            <img ng-src="img/RWSL-Lights.jpg" alt="">
            <p>RWSLs warn pilots when it is unsafe to cross, enter or begin takeoff on a runway via a series of red lights embedded in the pavement.</p>
            <p>RWSL is a fully automatic, advisory safety system designed to reduce the number and severity of runway incursions and thus prevent runway accidents while not interfering with airport operations. RWSL is designed to be compatible with existing procedures and is comprised of Runway Entrance Lights (RELs), Takeoff Hold Lights (THLs), and NEW Runway Intersection Lights (RILs).</p>
        </div>
    </div>
    <div>
        <div class="section-header">
            <h3>D. Taxiway Lighting</h3></div>
        <div class="indent">
            <h4>D-1. Taxiway Edge Lighting</h4>
            <img ng-src="img/Taxi-blue-edge.jpg" alt="">
            <p>Taxiway Edge Lights are used to outline the edges of taxiways during periods of darkness or restricted visibility conditions. These fixtures are elevated and emit blue light.</p>
            <horiz-rule margintop="2" marginbottom="2"></horiz-rule>
            <h4>D-2. Taxiway Centerline Lighting</h4>
            <img ng-src="img/taxi-center-lights.jpg" alt="">
            <p>Taxiway Centerline Lights are steady burning and emit green light located along the taxiway centerline.</p>
        </div>
    </div>
    <div>
        <div class="section-header">
            <h3>E. Apron Lighting</h3></div>
        <div class="indent">
            
            
        </div>
    </div>
</div>
