<div>
    <div class="page-title">
        <h2>Airport > Apron, Taxi and Runway Markings</h2>
    </div>
    <div>
        <img ng-src="img/markings.jpg">
    </div>
    <div>
        <h3>A. Runway Pavement Markings</h3>
        <div>
            <img ng-src="img/MarkingsA-1.png" alt="">
            <h4>Runway Threshold</h4>
            <p>Runway threshold markings consist of either eight longitudinal stripes of uniform dimensions disposed symmetrically about the runway centerline, or the number of stripes is related to the runway width.</p>
            <p>A threshold marking identifies the beginning of the runway that is available for landing. In some instances the landing threshold may be relocated or displaced.</p>
            <h4>Runway Designators</h4>
            <p>Runway numbers and letters are determined from the approach direction. The letters, differentiate between left (L), right(R), or center (C), parallel runways, as applicable.</p>
            <h4>Runway Touchdown Zone Markers</h4>
            <p>The touchdown zone markings identify the zone for landing operations and are coded to provide distance information in 500 feet (150m) increments.</p>
            <h4>Runway Centerline Marking</h4>
            <p>The runway centerline identifies the center of the runway and provides alignment guidance during takeoff and landings. The centerline consists of a line of uniformly spaced stripes and gaps.</p>
            <h4>Runway Aiming Point</h4>
            <p>The aiming point serves as a visual marker for a landing aircraft, located on each side of the runway centerline and approximately 1,000 feet from the landing threshold.</p>
            <h4>Runway Side Stripes</h4>
            <p>Runway side stripes consist of continuous white stripes located on each side of the runway.</p>
            <h4>Runway Shoulder Markings</h4>
            <p>Runway shoulder stripes may be used to supplement runway side stripes to identify pavement areas contiguous to the runway sides that are not intended for use by aircraft. Runway shoulder stripes are yellow.</p>
            <h4>Displaced Threshold Markings</h4>
            <p>A displaced threshold is a threshold located at a point on the runway other than the designated beginning of the runway. Displacement of a threshold reduces the length of runway available for landings. The portion of runway behind a displaced threshold is available for takeoffs in either direction and landings from the opposite direction.</p>
            <img ng-src="img/DisplacedThreshold.png" alt="">
            <h4>Relocation of Threshold</h4>
            <img ng-src="img/RelocatedThreshold.png" alt="">
            <p>Sometimes construction, maintenance, or other activities require the threshold to be relocated towards the rollout end of the runway. When a threshold is relocated, it closes not only a set portion of the approach end of a runway, but also shortens the length of the opposite direction runway.</p>
            <h4>Blast Pads and Stopways</h4>
            <img ng-src="img/BlastPad.png" alt="">
            <p>Chevrons are used to show pavement areas aligned with the runway that are unusable for landing, takeoff, and taxiing. Chevrons are yellow.</p>
        </div>
    </div>
    <div>
        <h3>B. Runway Pavement Markings</h3>
        <div>
            <img ng-src="img/MarkingsA-1.png" alt="">
            <h4>Runway Threshold</h4>
            <p></p>
            <h4>Runway Designators</h4>
            <p></p>
            <h4>Runway Touchdown Zone Markers</h4>
            <p></p>
            <h4>Runway Centerline Marking</h4>
            <p></p>
            <h4>Runway Threshold Marking</h4>
            <p></p>
            <h4>Displaced Threshold Markings</h4>
            <img ng-src="img/DisplacedThreshold.png" alt="">
            <p></p>
        </div>
    </div>
</div>
