<div>
    <div class="page-title">
        <h2>Airport > Signage</h2>
    </div>
    <div>
        <h3>Introduction</h3>
        <p>There are six types of signs installed on airfields: mandatory instruction signs, location signs, direction signs, destination signs, information signs, and runway distance remaining signs.</p>
        
    </div>
    <h4>Mandatory Instruction Signs</h4>
    <p>Mandatory Instruction Signs have a red background with a white inscription. These signs denote an entrance to a runway, a critical area, or a prohibited area. The pilot is expected to comply with the requirements of the sign.</p>
    <div>
        <h3>Holding Position Sign</h3>
        <div>
            <img ng-src="img/HoldingPositionSigns.png" alt="">
            <p>This sign is located at the holding position on taxiways that intersect a runway or on runways that intersect other runways.15-33 indicates that the threshold for Runway 15 is to the left and the threshold for Runway 33 is to the right.On taxiways that intersect the beginning of the takeoff runway, only the designation of the takeoff runway may appear on the sign.</p>
        </div>
    </div>
    <div>
        <h3>Holding Position Sign for a Runway Approach Area</h3>
        <div>
            <img ng-src="img/RunwayApproachHoldingPosition.png" alt="">
            <p>At some airports, it is necessary to hold an aircraft on a taxiway located in the approach or departure area for a runway so that the aircraft does not interfere with operations on that runway.</p>
        </div>
    </div>

    <div>
        <h3>Holding Position Sign for a Runway Approach Area</h3>
        <div>
            <img ng-src="img/CriticalAreas.png" alt="">
            <p>ILS Critical Area Holding Position Sign. At some airports, when the instrument landing system is being used, it is necessary to hold an aircraft on a taxiway at a location other than the normal holding position.</p>
            <p>No Entry Sign. This sign prohibits an aircraft from entering an area. Typically, this sign would be located on a taxiway intended to be used in only one direction or at the intersection of vehicle roadways with runways, taxiways or aprons where the roadway may be mistaken as a taxiway or other aircraft movement surface.</p>
        </div>
    </div>

	<h4>Location Signs</h4>
    <p>Location signs are used to identify either a taxiway or runway on which the aircraft is located. Other location signs provide a visual cue to pilots to assist them in determining when they have exited an area.</p>
	<div>
        <h3>Taxiway Location Sign</h3>
        <div>
            <img ng-src="img/TaxiwayLocation.png" alt="">
            <p>This sign has a black background with a yellow inscription and yellow border. The inscription is the designation of the taxiway on which the aircraft is located. These signs are installed along taxiways either by themselves or in conjunction with direction signs or runway holding position signs.</p>
        </div>
    </div>

    <div>
        <h3>Runway Location Sign</h3>
        <div>
            <img ng-src="img/" alt="">
            <p>This sign has a black background with a yellow inscription and yellow border. The inscription is the designation of the runway on which the aircraft is located. These signs are intended to complement the information available to pilots through their magnetic compass and typically are installed where the proximity of two or more runways to one another could cause pilots to be confused as to which runway they are on.</p>
        </div>
    </div>

    <div>
        <h3>Direction and Designation Signs</h3>
        <div>
            <img ng-src="img/" alt="">
            <p>These signs have a yellow background with a black inscription. The inscription identifies the designation(s) of the intersecting taxiway(s) leading out of the intersection that a pilot would normally be expected to turn onto or hold short of. Each designation is accompanied by an arrow indicating the direction of the turn.</p>
        </div>
    </div>

    <h4>Direction Signs</h4>
    <p>These signs have a yellow background with a black inscription. The inscription identifies the designation(s) of the intersecting taxiway(s) leading out of the intersection that a pilot would normally be expected to turn onto or hold short of. Each designation is accompanied by an arrow indicating the direction of the turn.</p>
	<div>
        <h3>Direction Signs</h3>
        <div>
            <img ng-src="img/Taxiway-Location-Direction.png" alt="">
            <img ng-src="img/Direction02.png" alt="">
            <p>This sign has a black background with a yellow inscription and yellow border. The inscription is the designation of the taxiway on which the aircraft is located. These signs are installed along taxiways either by themselves or in conjunction with direction signs or runway holding position signs.</p>
        </div>
    </div>

    <div>
        <h3>Designation Signs</h3>
        <div>
            <img ng-src="img/Taxiway-HoldingLocation.png" alt="">
            <img ng-src="img/Direction01.png" alt="">
            <img ng-src="img/RunwayDistanceRemaining.png" alt="">
            <p>Destinations commonly shown on these types of signs include runways, aprons, terminals, military areas, civil aviation areas, cargo areas, international areas, and fixed base operators. An abbreviation may be used as the inscription on the sign for some of these destinations.</p>
            <p>When the inscription for two or more destinations having a common taxiing route are placed on a sign, 
						the destinations are separated by a dot and one arrow would be used as shown.</p>
        </div>
    </div>
</div>
