<div class="page">
    <div class="page-title">
        <h2>Overview</h2></div>
    <div class="overview-brief">
        <p>The Cessna 172 Skyhawk is a four-seat, single-engine, high wing, fixed-wing aircraft made by the Cessna Aircraft Company.[5] First flown in 1955,[5] more Cessna 172s have been built than any other aircraft.<p>

<p>Measured by its longevity and popularity, the Cessna 172 is the most successful aircraft in history. Cessna delivered the first production models in 1956. As of 2015, Cessna, and its partners, had built more than 43,000. The Skyhawk's main competitors have been the Beechcraft Musketeer and Grumman AA-5 series (neither currently in production), the Piper Cherokee, and, more recently, the Diamond DA40.</p>
    </div>
    <div class="overview-image">
        <img src="views/C172/cessna-172.jpg" alt="">
    </div>
</div>
